[submodule "themes/hugo-raditian"]
	path = themes/hugo-raditian
	url = https://github.com/radity/raditian-free-hugo-theme
[submodule "public"]
	path = public
	url = https://github.com/hectorgabucio/hectorgabucio.github.io.git
	branch = master
